
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Parks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100&family=Gruppo&family=Quattrocento+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="headerContainer">
      <h1 class="homeHeader" id="homeHeader">Buddy's Top 3 Parks in Dublin City!</h1>
    </div>

    <div class="aboutDodderPark" id="aboutDodderPark">
      <div class="dodderSubHeader">
        <a type="button" class="dodderExpander" id="dodderExpander" href=""         onclick="showAboutDodderDiv()">
          <div>
            <h3>Second Place: Dodder Valley Park</h3>
          </div>
        </a>
      </div>
    </div>  

      <!--hidden div showing PP description. Opens on click of h3 above-->
    <div>
      <div class="aboutDodder" id="aboutDodder" style="display: none;">
        <p class="aboutDodderText" id="aboutDodderText">
          Dodder Valley Park is a public park situated along the Dodder River, offering a serene and green environment for recreational activities and relaxation. The long park feature walking and cycling paths, picnic areas, playgrounds, sports pitches, BMX course, hilltop view of the surrounding neighbourhoods, and natural landscapes.
          <br>
          <br>
          Much work has gone into making this park a beautiful space for residents and visitors. If you're looking for a nice park to spend a few hours. This Dublin City South park will have everything you need to stay entertained.
        </p>
      </div>
    </div>

    <div class="pageBody">

      <div class="homeButtonContainer">
        <a href="index.html" class="homeButton">
          <button class="backToHome">Home</button>
        </a>
      </div>

      <div class="dodderGallery">
        <div class="dodderImgGroup1"></div>
          <img class="dodderImg" src="../static/images/dodder1.jpg" alt="">
          <img class="dodderImg" src="../static/images/dodder2.jpg" alt="">
        </div>

        <div class="dodderImgGroup2">
          <img class="dodderImg" src="../static/images/dodder3.jpg" alt="">
          <img class="dodderImg" src="../static/images/dodder4.jpg" alt="">
        </div>

        <div class="nextButtonContainer" id="nextButtonContainer">
          <a href="bull.html" class="nextButton">
            <button class="toBull">Bull</button>
          </a>

          <a href="phoenix.html" class="nextButton">
            <button class="toPhoenix">Phoenix</button>
          </a>
        </div>
      </div>

      <div class="phoenixReviewContainer" id="phoenixReviewContainer">
      
        <form class="phoenixForm" action="#" method="post">
          <label for="">Been here? What did you think?</label>
          <p><input type="text" name="rev" /></p>
          <button type="button" class="phoenixRevBtn" id="phoenixRevBtn">Leave Review</button>
        </form> 

      </div>

    </div>
    <footer class="footer" id="footer">

      <div class="copywrite">&copy; Ricky Harrison</div>

      <div class="contact">
        <a href="mailto:ricky@ricky.com">Have a question?</a>
      </div>

      <div class="social" id="social">
        <a href="instagram.com">Insta</a>
        <a href="twitter">Twitter</a>
      </div>

    </footer>
    <script src="../static/js/script.js"></script>
  </body>