<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Parks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100&family=Gruppo&family=Quattrocento+Sans&display=swap" rel="stylesheet">
  </head>
  <body>

    <!--header-->

    <div class="headerContainer">
      <h1 class="homeHeader" id="homeHeader">Buddy's Top 3 Parks in Dublin City!</h1>
    </div>

    <!--subheader-->

    <div class="welcomeContainer" id="welcomeContainer">
      <h1 class="welcomeHeader" id="welcomeHeader">
        Explore a few Dublin parks through Buddy's eyes!
      </h1>
    </div>

    <!--main body pages with navigation buttons and park images-->

    <div class="navContainer" id="navContainer">
      <a href="phoenix.html">
        <button class="navButton" class="phoenix">Phoenix Park</button>
      </a>

      <a href="dodder.html">
        <button class="navButton" class="dodder">Dodder Valley Park</button>
        </button>
      </a>

      <a href="bull.html">
        <button class="navButton" class="bullIsland">Bull Island</button>
      </a>
    </div>

    <footer class="footer" id="footer">

      <div class="copywrite">&copy; Ricky Harrison</div>

      <div class="contact">
        <a href="mailto:ricky@ricky.com">Have a question?</a>
      </div>

      <div class="social" id="social">
        <a href="instagram.com">Insta</a>
        <a href="twitter">Twitter</a>
      </div>

    </footer>
    <script src="../static/js/script.js"></script>
  </body>
</html>