<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login/Sign Up</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <h1 class="homeHeader" id="homeHeader">Welcome to your family's site!</h1>

    <div class="loginContainer" id="loginContainer">
      <div class="inputContainer" id="inputContainer">
        <input type="" class="nameInput" id="nameInput">
        <label for="name">Name</label>
        <input type="email" class="emailContainer" id="emailContainer">
        <label for="email">Email</label>
      </div>
      <div class="loginSubmitBtn" id="loginSubmitBtn">
        <button>Let's Go!</button>
      </div>
    </div>

    <div class="signinContainer" id="signinContainer">
      <a href=""><p>Already a member?</p></a>
    </div>
    
    <div class="container">
      <main>
        {% block main%}
        {% endblock %}
      </main>
    </div>
  </body>
</html>